.mbody {
    width: 800px;
    padding: 10px;
    border: 2px RGB(255,0,0);
    margin: auto; 
    vertical-align: center;
    /*margin-top: 5%;*/
    /*margin-bottom: 5%;*/
}

.text {
	text-align: left;
}